<div class="main">
    <div class="login">
        <div class="login__container">
            <div class="logo">
                <img src="../../../assets/icon/logo-recruit-flow.png">
            </div>
          <form [formGroup]="form" (ngSubmit)="login()" class="login__form">
            <div class="form-group">
                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-envelope"></i>
                    </p-inputGroupAddon>
                    <input formControlName="email" pInputText placeholder="Email" class="input-login" />
                </p-inputGroup>
            </div>
            <div class="form-group">
                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-lock"></i>
                    </p-inputGroupAddon>
                    <input formControlName="senha" pInputText placeholder="Senha" class="input-login" />
                </p-inputGroup>
            </div>
            <button type="submit" class="login__submit">Login</button>
          </form>
        </div>
    </div>    
</div>
