
<div class="perfil-user">
  <div class="content">
    <div class="content-form">
      <form  [formGroup]="form" (ngSubmit)="register()">
        <div class="p-fluid">
          <div class="p-col-12">
            <div class="avatar-upload">
              <div class="avatar">
                <img *ngIf="imagemSelecionada" [src]="imagemSelecionada" alt="Avatar" class="avatar-image" />
                <div class="overlay">
                  <label for="file-upload" class="overlay-content">
                    <i class="pi pi-camera"></i>
                  </label>
                  <input formControlName="imagem" class="input-upload" type="file" id="file-upload" name="file" accept="image/*" (change)="onFileChange($event)" />
                </div>
              </div>
            </div>
          </div>
          <div class="input-group">
            <label for="nome">Nome Completo</label>
            <input  formControlName="nome" type="text" id="nome" pInputText class="input-style" />
          </div>
          <div class="input-group">
            <label for="celular">Celular</label>
            <p-inputMask mask="(99) 99999-9999" formControlName="celular" placeholder="(99) 99999-9999"></p-inputMask>
          </div>
        </div>
        <div class="p-fluid">
          <div class="input-group">
            <label for="email">E-mail</label>
            <input formControlName="email"  type="text" id="email" pInputText  class="input-style"/>
          </div>
          <div class="input-group">
            <label for="link">Link Linkedin</label>
            <input formControlName="link" type="text" id="link" pInputText  class="input-style"/>
          </div>
        </div>

        <div class="p-fluid">
          <div class="p-grid">
            <div class="input-group">
              <label for="rua">Rua</label>
              <input formControlName="rua" type="text" id="rua" pInputText  class="input-style"/>
            </div>
            <div class="input-group">
              <label for="numero">Número</label>
              <input formControlName="numero" type="text" id="numero" pInputText  class="input-style"/>
            </div>
            <div class="input-group">
              <label for="bairro">Bairro</label>
              <input formControlName="bairro" type="text" id="bairro" pInputText  class="input-style"/>
            </div>
            <div class="input-group">
              <label for="cidade">Cidade</label>
              <input formControlName="cidade" type="text" id="cidade" pInputText  class="input-style"/>
            </div>
            <div class="input-group">
              <label for="uf">Estado</label>
              <input formControlName="uf" type="text" id="estado" pInputText class="input-style"/>
            </div>
            <div class="input-group">
              <label for="cep">CEP</label>
              <p-inputMask mask="99999-999" formControlName="cep" id="cep" placeholder="99999-999"></p-inputMask>
            </div>
          </div>
        </div>
      <div class="input-button">
         <div class="button-left">
              <p-button label="Cancelar" severity="danger"></p-button>
          </div>
          <div class="button-right">
              <p-button type="submit" label="Salvar" severity="success"></p-button>
          </div>
      </div>
    </form>
    </div>
  </div>
</div>
