.logo img{
    max-width: 100%;
    height: auto;
}

.logo {
    margin-bottom: 30px;
    text-align: center;
    width: 220px;
}

// .list{
//     margin-bottom: 30px;
//     padding: 0;
// }

// .list:last-child{
//     margin: 0;
// }

// .list .title{
//     font-size: 17px;
//     color: #333;
//     font-weight: 600;
//     margin-bottom: 15px;
//     list-style-type: none;
// }

// .list .list-link{
//     display: block;
//     margin-bottom: 10px;
//     list-style-type: none;
// }

// .list .list-link:last-child{
//     margin: 0;
// }

// .list .list-link a{
//     font-size: 16px;
//     font-weight: 400;
//     display: inline-block;
//     text-decoration: none;
//     color: #333;
//     transition: 0.3s;
// }

// .list .list-link a:hover{
//     text-decoration: underline;
// }