<p-toast></p-toast>
<div class="perfil" *ngIf="isAuthorizedUser()">
    <div class="perfil-content container">
        <div class="avatar-upload">
            <div class="avatar">
              <img *ngIf="perfil?.imagem" [src]="perfil?.imagem" alt="Avatar" class="avatar-image" />
            </div>
        </div>
        <div class="content-title">
            <h2>Bem vindo! <strong>{{perfil?.nome}}</strong></h2>
        </div>
        <div class="content-edit" [ngClass]="{'elemento-escondido': !mostrarElemento}">
            <a routerLink="/perfil/perfil-view">Ver perfil</a>
        </div>
         <div class="content-edit" [ngClass]="{'elemento-escondido': mostrarElemento}">
            <a routerLink="/perfil">Atualizar perfil!</a>
        </div>
    </div>
    <div [ngClass]="{'elemento-escondido': mostrarElemento}" class="alert-container" style="text-align: center;">
      <i class="pi pi-info-circle"></i>
      <span style="font-weight: bolder;">Atualize seu perfil para se candidatar às vagas!</span>
    </div>
</div>
<div>
    <app-vaga-table></app-vaga-table>
</div>
