<div class="new-user">
    <div class="content">
        <div class="content-title">
            <h2>Cadastro de usuário</h2>
        </div>
        <div class="content-form">
            <form [formGroup]="form" (ngSubmit)="register()">
                <div class="input-group">
                    <label for="name">Nome</label>
                    <input pInputText id="name" formControlName="nome" class="input-style"/>
                </div>
                <div class="input-group">
                    <label for="name">E-mail</label>
                    <input pInputText id="name" formControlName="email" class="input-style"/>
                </div>
                <div class="input-group">
                    <label for="password">Senha</label>
                    <p-password  id="password" formControlName="senha"styleClass="input-password" [feedback]="false" [inputStyle]="{'width':'initial', 'min-width':'386px', 'height': '38px'}"></p-password>
                </div>
                <div class="input-button">
                    <div class="button-left">
                        <p-button (onClick)="limparFormulario()" routerLink="/home" label="Cancelar" severity="danger"></p-button>
                    </div>
                    <div class="button-right">
                        <p-button type="submit" label="Cadastrar" severity="success"></p-button>
                    </div>
                </div>
            </form>
        </div>
        <div class="user-message">
            <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
        </div> 
    </div>
</div>

