<p-toast></p-toast>
<div class="new-user">
    <div class="content">
        <div class="content-title">
            <h2>Cadastrar Vaga</h2>
        </div>
        <div class="content-form">
            <form [formGroup]="form" (ngSubmit)="register()">
                <div class="input-group">
                    <label for="titulo">Titulo</label>
                    <input pInputText id="titulo" formControlName="titulo" class="input-style"/>
                </div>
                <div class="input-group">
                    <label for="descricao">Descrição</label>
                    <textarea [autoResize]="true"  [style]="{'width':'100%'}"  id="descricao" rows="5" cols="30" pInputTextarea formControlName="descricao"></textarea>

                </div>
                <div class="input-group">
                    <label for="status">Status</label>
                    <p-dropdown formControlName="status"  [style]="{'width':'100%'}" [options]="status" [(ngModel)]="selectedStatus" optionLabel="status" [showClear]="true" placeholder="Status">
                    </p-dropdown>
                </div>

                <div class="input-button">
                    <div class="button-left">
                        <p-button (onClick)="limparFormulario()" label="Cancelar" severity="danger"></p-button>
                    </div>
                    <div class="button-right">
                        <p-button type="submit" label="Cadastrar" severity="success"></p-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
